# Terraform-specific
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local secrets
.env
*.pem

# Ignore plan files
*.plan

# OS-specific
.DS_Store
Thumbs.db

# VSCode/IDE configs
.vscode/
.idea/
*.swp

# Node-related (if app/ is later used)
app/node_modules/
app/build/
